.counter-container {
  width: var(--container-width-large);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 100px;
}

.button-container {
  margin: 20px;
}

.button-counter {
  height: var(--small-button-height);
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  border-radius: var(--small-button-border-radius);
  margin: 5px;
}
