.container {
  width: var(--container-width-large);
  margin: 0 auto;
  background: rgba(69, 83, 173, 0.2);
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
}

input[type="text"],
[type="password"],
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 30px; /* Bottom margin */
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  width: 100%;
  padding: 16px 20px;
  color: #ffff;
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 30px;
  font-style: bolder;
}

.error {
  color: red;
}
