.contact-form{
    width: var(--container-width);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.contact-form input, button{
    border-radius: 30px;
    width: var(--container-width);
    height: 33px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
}

#message {
    height: 100px;
}
