:root {
  --primary-color: #4553ad;
  --secondary-color: #5371ff;
  --tertiary-color: #99a7ce;
  --small-button-height: 33px;
  --small-button-width: 96px;
}

.navbar {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  float: left;
  padding: 23px;
}

.navbar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffff;
  text-align: center;
  position: static;
}

.navbar-contents {
  display: inline-block;
  padding: 23px;
  color: #000;
  top: 50px;
}

#github {
  float: right;
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 96px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
}

.contents-git {
  float: right;
  padding: 23px;
  top: 50px;
}

#gitlab {
  display: flex;
  flex-direction: row;
  float: right;
  background: #ffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 96px;
  height: 33px;
  padding: 16px 20px;
  color: var(--secondary-color);
  font-weight: bold;

  justify-content: center;
  align-items: center;

  font-weight: bold;
  cursor: pointer;
}
