.logo-container {
  width: 500px;
  height: 500px;
  display: flex;
  margin: 0 auto;
}

#logo-left {
  width: 126px;
  height: 217.5px;
}

#logo-top {
  width: 168.5px;
  height: 146px;
}

#logo-right {
  width: 168.5px;
  height: 220px;
}
