.loading-logo {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 15vh;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

#rotate {
  animation: rotation 2s infinite linear;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 15vh;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 15vh;
    align-items: center;
    justify-content: center;
    padding: 90px;
  }
  to {
    transform: rotate(359deg);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 15vh;
    align-items: center;
    justify-content: center;
    padding: 90px;
  }
}
