.image-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: var(--container-width);
  margin: auto;
}

.image-slider-button {
  height: var(--small-button-height);
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  border-radius: var(--small-button-border-radius);
}
